.product {
  margin: 1rem;

  font-size: 1rem;

  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
  word-break: break-word;
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.product__name,
.product__price {
  margin-bottom: 0.5rem;
}

.product__name {
  font-weight: bold;
}

.product:hover {
  box-shadow: 0 4px 4px 0 rgba(65,69,73,0.3), 0 4px 12px 4px rgba(65,69,73,0.15);
}

.product__add span {
  padding-right: 0.5rem;
}
