.checkout {
  display: flex;
  flex-direction: column;

  width: 700px;
  padding: 1rem 1rem 2rem 1rem;

  background: white;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}

.checkout__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__close {
  text-align: right;
  background: none;
  border: none;
  cursor: pointer;
}

.checkout__img {
  width: 160px;
  height: 210px;
}

.checkout__desc {
  display: flex;
  flex-direction: column;

  margin-left: 1rem;
}
